#修改TNAME: K2P 中的K2P为你需要编译的型号，注意名称要与configs/templates/目录下的名字相同
name: 小米路由R3G-YuOS

on:
  workflow_dispatch:
    inputs:
      target:
        type: choice
        description: '选择路由器型号'
        options:
        - K2P
        - RM2100
        - R2100
        - K2P-USB
        - CR660x
        - JCG-Q20
        - JCG-AC860M
        - JCG-AC876M
        - JCG-Y2
        - MI-MINI
        - MI-R3G
        - MI-R4A
        - MI-NANO
        - MSG1500-7615
        - MSG1500
        - NEWIFI3
        - R6220
        - RT-AC85P
        - XY-C1
        - RS1200P
        - TIMECLOUD
        - WR330
        default: 'MI-R3G'
      rversion:
        type: choice
        description: '指定编译内核版本'
        options:
        - 3.4
        - 4.4
        defaule: '3.4'
jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    - name: 检查代码
      uses: actions/checkout@master
    - name: 准备编译环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update
        sudo apt-get -y install unzip libtool-bin curl cmake gperf gawk flex bison nano xxd fakeroot \
        cpio git python-docutils gettext automake autopoint texinfo build-essential help2man \
        pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev libncurses5-dev libltdl-dev wget
    - name: 克隆源码
      env:
        KERNEL: ${{ github.event.inputs.rversion }}
        # KERNEL: 3.4
      run: |
        if [ $KERNEL = "4.4" ] ; then
        git clone --depth=1 https://github.com/yuos-bit/padavan-4.4.git /opt/rt-n56u
        else
        git clone --depth=1 https://github.com/yuos-bit/Padavan.git /opt/rt-n56u
        fi
        cd /opt/rt-n56u/toolchain-mipsel
        sh dl_toolchain.sh
        mkdir -p /opt/images/
    - name: 编译固件
      env:
        TNAME: ${{ github.event.inputs.target }}
        KERNEL: ${{ github.event.inputs.rversion }}
      run: |
        cd /opt/rt-n56u/trunk
        if [ ! -f configs/templates/$TNAME.config ] ; then
        echo "configs/templates/$TNAME.config not found "
        exit 1
        fi
        cp -f configs/templates/$TNAME.config .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y/g' .config
        ################################################################################################
        #因不同型号配置功能不一样，所以先把配置项删除，如果你自己要添加其他的，也要写上删除这一条，切记！！！
        ################################################################################################
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n/CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SRELAY=n/CONFIG_FIRMWARE_INCLUDE_SRELAY=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n/CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y/g' .config
        ######################################################################
        #以下选项是定义你需要的功能（y=集成,n=忽略），重新写入到.config文件
        ######################################################################
        if [ $KERNEL = "4.4" ] ; then
        echo "CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n" >> .config #MENTOHUST
        echo "CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n" >> .config #SCUTCLIENT
        echo "CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y" >> .config #SS plus+
        echo "CONFIG_FIRMWARE_INCLUDE_SSOBFS=y" >> .config # simple-obfs混淆插件
        echo "CONFIG_FIRMWARE_INCLUDE_ADBYBY=n" >> .config #adbyby plus+
        echo "CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n" >> .config #DNSFORWARDER
        echo "CONFIG_FIRMWARE_INCLUDE_SRELAY=n" >> .config #可以不集成
        echo "CONFIG_FIRMWARE_INCLUDE_XRAY=n" >> .config #集成xray执行文件  ~4.5M
        echo "CONFIG_FIRMWARE_INCLUDE_V2RAY=y" >> .config #集成v2ray执行文件
        echo "CONFIG_FIRMWARE_INCLUDE_DDNSTO=n" >> .config #ddnsto  ~0.5M
        echo "CONFIG_FIRMWARE_INCLUDE_ALDRIVER=n" >> .config  #阿里云盘  ~3m
        echo "CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n" >> .config #zerotier ~1.3M
        echo "CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n" >> .config #aliddns
        echo "CONFIG_FIRMWARE_INCLUDE_SQM=y" >> .config #SQM 流控
        echo "CONFIG_FIRMWARE_INCLUDE_FRPS=y" >> .config #内网穿透FRPS 2023.1.11
        echo "CONFIG_FIRMWARE_INCLUDE_FRPC=n" >> .config #内网穿透FRPC 2023.1.11
        else
        echo "CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n" >> .config #MENTOHUST
        echo "CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n" >> .config #SCUTCLIENT
        echo "CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y" >> .config #SS plus+
        echo "CONFIG_FIRMWARE_INCLUDE_SSOBFS=y" >> .config # simple-obfs混淆插件
        echo "CONFIG_FIRMWARE_INCLUDE_XRAY=n" >> .config #集成xray执行文件  ~4.5M
        echo "CONFIG_FIRMWARE_INCLUDE_TROJAN=n" >> .config #集成trojan执行文件(1.1M左右)
        echo "CONFIG_FIRMWARE_INCLUDE_V2RAY=y" >> .config #集成v2ray执行文件
        echo "CONFIG_FIRMWARE_INCLUDE_SSSERVER=n" >> .config #SS server
        echo "CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n" >> .config #DNSFORWARDER
        echo "CONFIG_FIRMWARE_INCLUDE_FRPC=y" >> .config #内网穿透FRPC
        echo "CONFIG_FIRMWARE_INCLUDE_FRPS=n" >> .config #内网穿透FRPS
        echo "CONFIG_FIRMWARE_INCLUDE_NPC=n" >> .config #内网穿透NPS
        echo "CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n" >> .config #阿里DDNS
        echo "CONFIG_FIRMWARE_INCLUDE_SRELAY=n" >> .config #可以不集成
        echo "CONFIG_FIRMWARE_INCLUDE_WYY=n" >> .config #网易云解锁
        echo "CONFIG_FIRMWARE_INCLUDE_WYYBIN=n" >> .config #网易云解锁GO版本执行文件（4M多）注意固件超大小,不集成会自动下载
        echo "CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n" >> .config #zerotier ~1.3M
        fi
        #########################################################################################
        #自定义添加其它功能请参考源码configs/templates/目录下的config文件。按照上面的格式添加即可
        #格式如下：
        ##sed -i '/自定义项/d' .config
        ## 测试删除无用东西
        sed -i '/CONFIG_FIRMWARE_INCLUDE_MTR=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_IPERF3=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_NANO=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_VLMCSD=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_LRZSZ=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_HTOP=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_SOCAT=y/d' .config
        # sed -i '/CONFIG_FIRMWARE_INCLUDE_ARIA=y/d' .config
        # sed -i '/CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y/d' .config
        sed -i '/CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y/d' .config # 删除4.4的wireguard
        #echo "自定义项=y" >> .config
        ## 测试增加内容
        # echo "CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y" >> .config
        # echo "CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=y" >> .config       
        # echo "CONFIG_FIRMWARE_INCLUDE_CADDY=y" >> .config
        # echo "CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y" >> .config
        # echo "CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=y" >> .config
        #########################################################################################
        sudo ./clear_tree
        sudo ./build_firmware_modify $TNAME 0
        sudo mv -f images/*.trx /opt/images/
    - name : 上传固件
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: Padavan-packages-${{ github.event.inputs.target }}-${{ github.event.inputs.rversion }}
        path: /opt/images

# 暂时无用
#       #########################################################################################
#       #自定义添加其它功能请参考源码configs/templates/目录下的config文件。按照上面的格式添加即可
#       #格式如下：
#       #sed -i '/自定义项/d' .config
#       ## 测试删除无用东西
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_MTR=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_IPERF3=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_NANO=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_VLMCSD=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_LRZSZ=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_HTOP=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_SOCAT=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_ARIA=y/d' .config
#       sed -i '/CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y/d' .config
#       #echo "自定义项=y" >> .config
#       ## 测试增加内容
#       echo "CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y" >> .config
#       echo "CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=y" >> .config       
#       echo "CONFIG_FIRMWARE_INCLUDE_CADDY=y" >> .config
#       echo "CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y" >> .config
#       echo "CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=y" >> .config
#       #########################################################################################        